@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.Niconne{
    font-family: 'Niconne', cursive;
}
.Playfair_Display{
    font-family: 'Playfair Display', serif;
}
.Roboto_Slab{
    font-family: 'Roboto Slab', serif;
}