@import "Referencials";
@import "Fonts";
@import "animations";
@import "Responsive";
@import "Background";
@import "estructuras";
$text-color: rgb(31, 31, 31);
#Login{
  @media (min-width:768px){
    section{
      max-width: 500px;
    }
  }
  .container-lg{
    align-items: center;
    header{
      margin-top: 20vh;
      span{
        margin-top: 15px;
        font-weight:600;
        color: $text-color;
      }
    }
    section{
      min-width: 200px;
      max-width: 500px;
      border-radius: 10px;
      form{
        input[type="text"],input[type="password"]{
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          background-color: unset;
          border-color: #c0c0c0;
          outline: none;
          margin-bottom:20px;
        }
      }
      p{
        color: #898787;
      }
    }
    button{
      min-width: fit-content;
      border-radius: 50px;
      border: 2px #efefef solid;
      color: white;
      background-color: #ddb0ea;
      border: 2px #efefef solid !important;
      outline: none !important;
      transition: opacity 0.4s ease-out;
      margin-bottom: 20px;
    }
  }
}